#cards {
  background-color: var(--gray-100);

  margin-top: 144px;
  padding-block: 88px 120px;

  .cards {
    display: flex;
    justify-content: center;
    text-align: start;
    gap: 24px;

    >div {
      border: 2px solid var(--gray-200);
      width: 280px;
      border-radius: 12px;
      padding: 20px;
    }
  }

  img {
    width: 48px;
  }

  h3 {
    margin-block: 20px 8px;
  }
}