* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;
  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;

  /* Text */
  --font-family-asap: "Asap", sans-serif;
  --font-family-inconsolata: "Inconsolata", monospace;
  --font-family-maven-pro: "Maven Pro", sans-serif;

  --h1: 700 56px/120% var(--font-family-asap);
  --h2: 700 24px/120% var(--font-family-asap);
  --h3: 700 16px/120% var(--font-family-asap);
  --subtitle: 400 20px/120% var(--font-family-inconsolata);
  --text-md: 400 16px/140% var(--font-family-maven-pro);
  --text-sm: 400 14px/140% var(--font-family-maven-pro);
}

body {
  background-color: var(--gray-300);
  width: 1366px;
  height: 100vh;
  margin: auto;
}

#page {
  background-color: var(--gray-200);
}

h1 {
  font: var(--h1);
  color: var(--gray-600);

  margin-bottom: 20px;
}

h2 {
  font: var(--h2);
  color: var(--gray-600);
}

h3 {
  font: var(--h3);
  color: var(--gray-600);
}

sub {
  color: var(--gray-500);
  margin-block: 64px 8px;

  strong {
    color: var(--red);
  }
}

sub, strong {
  font: var(--subtitle);
}

p {
  font: var(--text-sm);
  color: var(--gray-400);
}

.background img {
  width: 1366px;
  object-fit: cover;
}

#intro,
#contact {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-box {
  position: absolute;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: 163px;
  gap: 24px;

  div {
    width: 330px;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: var(--gray-300);
    border-radius: 12px;
    padding: 12px 12px 17px;

    border: 1.5px solid transparent;
    transition: border-color 0.2s ease-in;

    &:hover {
      border: 1.5px solid var(--gray-400);
      cursor: pointer;
    }
  }

  img {
    width: 306px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 8px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  sub {
    color: var(--red);
  }
}
