* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Text */
  --font-family-asap: "Asap", sans-serif;
  --font-family-inconsolata: "Inconsolata", monospace;
  --font-family-maven-pro: "Maven Pro", sans-serif;

  --h1: 700 56px/120% var(--font-family-asap);
  --h2: 700 24px/120% var(--font-family-asap);
  --h3: 700 16px/120% var(--font-family-asap);
  --subtitle: 400 20px/120% var(--font-family-inconsolata);
  --text-md: 400 16px/140% var(--font-family-maven-pro);
  --text-sm: 400 14px/140% var(--font-family-maven-pro);
}