

header  {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 128px 343px 0px;

  img {
    width: 96px;
    height: 96px;
    object-fit: cover;
  } 
}

sub {
  color: var(--gray-500);

  margin-block: 64px 8px;

  strong {
    color: var(--red);
  }
}

h1 {
  margin-bottom: 20px;
}

p {
  color: var(--gray-400);
}

#tags {
  display: flex;
  justify-content: center;
  margin-block: 80px 94px;
  gap: 16px;
  
 div {
  display: inherit;
  align-items: center;
  background-color:var(--gray-300);
  border-radius: 999px;
  gap: 8px;
  padding: 8px 16px;

  strong {
    font: var(--text-md);
    color: var(--gray-500);
  }
 }
}


