.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  sub {
    color: var(--red);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  div {
    width: 330px;
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 12px;
    padding: 12px 12px 17px;

    background-color: var(--gray-300);
  }

  img {
    width: 306px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 8px;
  }

}

main {
  margin: 72px 163px 0px ;

  h2 {
    margin-block: 8px 56px;
  }
}