.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  sub {
    color: var(--red);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: 163px;
  gap: 24px;

  div {
    width: 330px;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: var(--gray-300);
    border-radius: 12px;
    padding: 12px 12px 17px;

    &:hover {
      outline: 1px solid var(--gray-400);
      cursor: pointer;
    }
  }

  img {
    width: 306px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 8px;
  }

}

main {
  background-color: var(--gray-200);
  padding-top: 72px;
  
  h2 {
    margin-block: 8px 56px;
  }

  #cards {
    background-color: var(--gray-100);
    
    margin-top: 144px;
    padding-block: 88px 120px;
    
    .cards {
      display: flex;
      justify-content: center;
      text-align: start;
      gap: 24px;

      > div {
        border: 2px solid var(--gray-200);
        width: 280px;
        border-radius: 12px;
        padding: 20px;
      }
    }

    img {
      width: 48px;
    }

    h3 {
      margin-block: 20px 8px;
    }
  }
}