.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  sub {
    color: var(--red);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: 163px;
  gap: 24px;

  div {
    width: 330px;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: var(--gray-300);
    border-radius: 12px;
    padding: 12px 12px 17px;

    &:hover {
      outline: 1px solid var(--gray-400);
      cursor: pointer;
    }
  }

  img {
    width: 306px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 8px;
  }

}

main {
  background-color: var(--gray-200);
  padding-top: 72px;
  
  h2 {
    margin-block: 8px 56px;
  }

  #cards {
    background-color: var(--gray-100);
    
    margin-top: 144px;
    padding-block: 88px 120px;
    
    .cards {
      display: flex;
      justify-content: center;
      text-align: start;
      gap: 24px;

      > div {
        border: 2px solid var(--gray-200);
        width: 280px;
        border-radius: 12px;
        padding: 20px;
      }
    }

    img {
      width: 48px;
    }

    h3 {
      margin-block: 20px 8px;
    }
  }
}

#contact {

  .content-box {
    padding-top: 128px;
  }

  sub {
    color: var(--purple);
  }

  h2 {
    margin-block: 8px;
  }

  #links {
    display: grid;
    gap: 16px;
    margin-top: 48px;

    & div {
      display: flex;
      align-items: center;
      width: 400px;
      border-radius: 8px;
      padding: 20px;
      
      background-color: var(--gray-300);


      span:first-child {
        width: 28px;
        height: 28px;
      }

      span:last-child {
        width: 20px;
        height: 20px;
      }
      
      &:nth-child(1) {
        span:nth-child(1) {
          background-image: url(/assets/icons/LinkedinLogo.svg);
        }

        span:nth-child(3) {
          background-image: url(/assets/icons/ArrowUpRight.svg);
          background-size: contain;
        }
      }

      &:nth-child(2) {
        span:nth-child(1) {
          background-image: url(/assets/icons/InstagramLogo.svg);
        }

        span:nth-child(3) {
          background-image: url(/assets/icons/ArrowUpRight.svg);
          background-size: contain;
        }
      }

      &:nth-child(3) {
        span:nth-child(1) {
          background-image: url(/assets/icons/GithubLogo.svg);
        }

        span:nth-child(3) {
          background-image: url(/assets/icons/ArrowUpRight.svg);
          background-size: contain;
        }
      }

      &:nth-child(4) {
        span:nth-child(1) {
          background-image: url(/assets/icons/EnvelopeSimple.svg);
        }

        span:nth-child(3) {
          background-image: url(/assets/icons/ArrowUpRight.svg);
          background-size: contain;
        }
      }

      &:hover {
        cursor: pointer;
      }

      span:first-child:hover {
        width: 28px;
        height: 28px;
      }

      span:last-child:hover {
        width: 20px;
        height: 20px;
      }

      &:nth-child(1):hover {
        span:first-child {
          background-image: url(/assets/icons/LinkedinLogo-Hover.svg);
        }
        span:last-child {
          background-image: url(/assets/icons/ArrowUpRight-hover.svg);
        }
      }

      &:nth-child(2):hover {
        span:first-child {
          background-image: url(/assets/icons/InstagramLogo-Hover.svg);
        }

        span:last-child {
          background-image: url(/assets/icons/ArrowUpRight-hover.svg);
        }
      }

      &:nth-child(3):hover {
        span:first-child {
          background-image: url(/assets/icons/GithubLogo-Hover.svg);
        }

        span:last-child {
          background-image: url(/assets/icons/ArrowUpRight-hover.svg);
        }
      }

      &:nth-child(4):hover {
        span:first-child {
          background-image: url(/assets/icons/EnvelopeSimple-Hover.svg);
        }

        span:last-child {
          background-image: url(/assets/icons/ArrowUpRight-hover.svg);
        }
      }

      strong {
        margin-inline: 12px auto;
        font: var(--text-md);
        color: var(--gray-500);
      }
    }
  }

}